@import "~bootstrap/scss/bootstrap";

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: red;
    border-color: red;
}

.page-link, .page-link:hover{

    color: red;
}

